*{
    margin: 0;
    padding: 0;
}
section{
    background-image: url(./assets/Background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    justify-content: space-between;
}
header{
    display: flex;
}
header h1{
    font-size: 40px;
    padding: 2%;
}
nav{
    width: 100%;
}
nav{
    padding: 2%;
}
nav ul{
    padding-left: 20%;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    padding-top: 2%;
    padding-left: 10%;
}
header img{
    width: 30px;
    height: 30px;
    padding: 2.3%;
    display: none;
}
section h2{
    width: 548px;
    height: 253px;
    left: 134px;
    top: 215px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 128px;
    color: #333333;
    padding-left: 5%;
    padding-top: 3%;
}
section button{
    width: 257px;
    height: 64px;
    background: #222222;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #E0E0E0;
    margin-top: 3%;
    margin-left: 5%;
}
.category{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 75%;
    margin-left: 15%;
}
.location_sec{
    display: flex;
    width: 1000px;
    height: 124px;
    background: #222222;
    box-shadow: 0px 4px 25px 1px #E0E0E0;
    color: white;
}
.destination{
    margin-left: 3%;
    width: 100%;
    padding-top: 3%;
}
.destination h3{
    width: 150px;
    top: 923px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4; 
}
.destiny{
    display: flex;
    width: 100%;
    
}
.destiny p{
    width: 150px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.search{
    width: 120px;
    height: 122px;
    background: #FFFFFF;
    border: 1px solid #000000;
}
.search img{
    padding-left: 35%;
    padding-top: 35%;
}
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
}
.about img{
    width: 600px;
    height: 600px;
    padding-left: 7%;
}
.about_us{
    padding: 5% 4%;
}
.about_us h1{
    width: 442px;
    height: 89px;
    left: 921px;
    top: 1136px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    color: #333333;
}
.about_us p{
    width: 518px;
    height: 221px;
    left: 825px;
    top: 1278px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;

}
.about_us button{
    width: 260px;
    height: 64px;
    background: #222222;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #E0E0E0;
}
article{
    display: flex;
    flex-wrap: wrap;
    padding: 8%;
    justify-content: space-between;
    margin-top: 10%;
}
.buildings{
    background: #EEEEEE;
    border-radius: 20px;
}
.decor{
    width: 411px;
    height: 378px;
    left: 485px;
    top: 0px;
    border-radius: 20px;
}
.amount{
    display: flex;
    padding-left: 70%;
}
.amount p{
    font-size: 20px;
    padding: 2%;
    margin-right: 5%;
}
.tags{
    display: flex;
    padding-left: 70%;
}
.tag1{
    display: flex;
    padding: 4%;
}
.class{
    padding-left: 10%;
}
.class1{
    padding-left: 10%;
    margin-bottom: 3%;
}
.work{
    padding: 6%;
}
.work h1{

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    color: #333333;
    width: 100%;
}
.steps{
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
}
.step1{
    margin: 2%;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.25);
    width: 300px;
}
.step1 h2{
    padding-top: 10%;
    height: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}
.step2{
    background: #222222;
    width: 300px;
    color: white;
    margin: 2%;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.25);
}
.step2 h2{
    padding-top: 10%;
    height: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}
.evaluate{
    width: 60px;
    height: 50px;
    margin-left: 40%;
    margin-top: 10%;
    padding-top: 3%;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.evaluate img{
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 6%;
}
.step1 p{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    padding: 10%;
}
.step2 p{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    padding: 10%;
    
}
.choose h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    color: #333333;
    width: 100%;
}
.choose_detail{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}
.choose_detail img{
    padding-left: 8%;
    width: 688px;
    height: 526px;
    border-radius: 10px;
    padding-top: 2%; 
}
.description{
    padding: 3%; 
}
.first{
    width: 548px;
    height: 154px;
    left: 828px;
    top: 3875px;
   background: rgba(253, 249, 249, 0.77);
    border: 1px solid #999292;
    box-shadow: 0px 4px 5px 4px rgba(238, 238, 238, 0.8);
    text-align: center;
    margin-bottom: 4%;
}
.first h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    width: 100%;
    text-align: center;
    padding-top: 5%;

}
.first p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
    width: 100%;
    text-align: center;

}
.second{
    width: 548px;
    height: 154px;
    left: 828px;
    top: 4061px;
    background: #222222;
    border: 1px solid #999292;
    box-shadow: 0px 4px 5px 4px rgba(238, 238, 238, 0.8);
    color: white;
}
.second h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FDF9F9;
    width: 100%;
    text-align: center;
    padding-top: 5%;

}
.second p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #FDF9F9;
    width: 100%;
    text-align: center;

}
.third{
    width: 548px;
    height: 154px;
    left: 828px;
    top: 3875px;
    background: rgba(253, 249, 249, 0.77);
    border: 1px solid #999292;
    box-shadow: 0px 4px 5px 4px rgba(238, 238, 238, 0.8);
    text-align: center;
}
.third h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    padding-top: 5%;
    width: 100%;
    text-align: center;

}
.third p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
    width: 100%;
    text-align: center;

}
.testimonial h1{
    margin-top: 10%;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    color: #333333;
    width: 100%;
}
.testimon{
    display: flex;
    flex-wrap: wrap;
    background: hsl(0, 0%, 20%);
    padding: 9%;
    justify-content: space-between;

}
.testi_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.commentary1{
    width: 20%;
    padding: 6%;  
    background: #7f7b7b;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}
.commentary1 p{
    padding-top: 10%;
    padding-bottom: 10%;
}
.commentary2{
    width: 20%;
    padding: 6%;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 5px;
}
.commentary2 p{
    padding-top: 10%;
    padding-bottom: 10%;
}
.commentary3{
    width: 20%;
    padding: 6%;
    background: #a3a1a1;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}
.commentary3 p{
    padding-top: 10%;
    padding-bottom: 10%;
}
footer{
    width: 100%;
    background-color: #232323;
    color: white;

}
.footer_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4% 10%;
}
.footer_property{
    width: 30%;
    text-align: left;
}
.footer_property h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #FDF9F9;

}
.footer_property p{
    margin-top: 5%;
    width: 50%;
    margin-bottom: 9.35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175.78%;
    color: #FFFFFF;
}
.quick{
    width: 20%;
    text-align: left;  
}
.quick h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #FDF9F9;

}
.quick ul li{
    margin-top: 5%;
    list-style-type: none;
}
.contact{
    width: 30%;
    text-align: left;
}
.contact h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #FDF9F9;

}
.contact p{
    margin-top: 5%;
    width: 50%;
    margin-bottom: 9.35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175.78%;
    color: #FFFFFF;
}
.social_media{
    flex-wrap: wrap;
    text-align: right;
    padding-right: 20%;
}
.footer_end{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #000000;
    text-align: center;
}
.end{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 80%;
    padding: 2%;
    justify-content: space-between;
    width: 10%;
}
span{
    color: goldenrod;
}


@media only screen and (max-width: 420px){
    nav{
        display: none;
    }
    header img{
        display: block;
        padding-left: 30%;
        padding-top: 5%;
    }
    section h2{
        font-size: 50px;
        width: 80%;
        margin-top: 10%;
        line-height: 100px;
    }
    section button{
        font-size: 20px;
        width: 150px;
    }
    .category{
        margin-left: 10%;
        padding-top: 6%;
        
    }
    .location_sec{
        display: block;
        width: 300px;
        height: 200px;
        text-align: center;
        padding-left: 20%;
    }
    .search{
        width: 298px;
        height: 60px;
    }
    .search img{
        padding-top: 5%;
        padding-left: 45%;
    }
    .about{
        width: 100%;
    }
    .about img{
        width: 350px;
        height: 400px;
    }
    .about_us{
        padding: 5% 2%;
    }
    .about_us h1{
        text-align: left;
        margin-left: 10%;
        width: 350px;

    }
    .about_us p{
        width: 370px;
        padding: 2%;
    }
    .about_us button{
        margin: 10%;
    }
    .buildings{
        margin-bottom: 20%;
    }
    .decor{
        width: 330px;
    }
    .choose_detail img{
        padding-left: 5.5%;
        width: 350px;
        height: 400px;
    }
    .first{
        width: 350px;
        margin-left: 3%;
        margin-top: 10%;
    }
    .second{
        width: 350px;
        margin-left: 3%;
        margin-top: 10%;
    } 
    .third{
        width: 350px;
        margin-left: 3%;
        margin-top: 10%;
    }
    .testimon{
        display: block;
    }
    .commentary1{
        width: 85%;
        margin-top: 10%;
    }
    .commentary2{
        width: 85%;
        margin-top: 10%;
    }
    .commentary3{
        width: 85%;
        margin-top: 10%;
    }
    .footer_main{
        display: block;
    }
    .footer_property{
        width: 100%;
        text-align: center;
    }
    .footer_property p{
        width: 100%;
    }
    .quick{
        width: 100%;
        text-align: center;
    }
    .quick p{
        width: 100%;
    }
    .contact{
        width: 100%;
        text-align: center;
    }
    .contact p{
        width: 100%;
    }
    .social_media{
        text-align: center;
        width: 300px;
        margin: 10%;
        padding: 0;
    }
    .end{
        margin: 0;
        padding: 3%;
        width: 100%;
        justify-content: space-evenly;
    }
}